code
[{"id":"dfc1d998.e05a3","type":"subflow","name":"Subflow 1","info":"","in":[{"x":140,"y":54,"wires":[{"id":"f35454cb.f13898"}]}],"out":[{"x":738,"y":56,"wires":[{"id":"ee268f8e.fdd3c8","port":0}]}]},{"id":"f35454cb.f13898","type":"function","z":"dfc1d998.e05a3","name":"F1","func":"msg.payload += 1;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":130,"wires":[["c4849708.dd7678"]]},{"id":"c4849708.dd7678","type":"function","z":"dfc1d998.e05a3","name":"F2","func":"msg.payload += 1;\nreturn msg;","outputs":1,"noerr":0,"x":377,"y":203,"wires":[["385126ad.37acba"]]},{"id":"385126ad.37acba","type":"function","z":"dfc1d998.e05a3","name":"F3","func":"msg.payload += 1;\nreturn msg;","outputs":1,"noerr":0,"x":497,"y":131,"wires":[["ee268f8e.fdd3c8"]]},{"id":"ee268f8e.fdd3c8","type":"function","z":"dfc1d998.e05a3","name":"F4","func":"msg.payload += 1;\nreturn msg;","outputs":1,"noerr":0,"x":609,"y":196,"wires":[[]]},{"id":"5b30b9cf.6104f","type":"subflow:dfc1d998.e05a3","z":"9378763b.e5e7f8","name":"","x":375,"y":145,"wires":[["d14cb8ea.abd3b"]]},{"id":"64293a05.5f1294","type":"inject","z":"9378763b.e5e7f8","name":"Input zero","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":183,"y":147,"wires":[["5b30b9cf.6104f"]]},{"id":"d14cb8ea.abd3b","type":"debug","z":"9378763b.e5e7f8","name":"","active":true,"console":"false","complete":"false","x":578,"y":149,"wires":[]}]
